{% extends 'base.html' %}

{% block title %}Monthly Sales {% endblock %}
{% load custom_filters %}
{% block navcontent %}
            {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
    {% include 'dashboard/admin.html' %}
  {% elif request.user.department %}
    {% if request.user.department.department_name|strip_lower == "finance" %}
      {% include 'dashboard/finance.html' %}
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}

{% block content %}

    <h1 class="text-3xl font-bold mb-5">Monthly Sales Report</h1>

    <h2 class="text-xl mb-2">Total Sales This Month: ₹ {{ total_sales }}</h2>

    <table class="table-auto w-full bg-white rounded-xl overflow-hidden shadow mt-4">
        <thead class="bg-gray-200">
            <tr>
                <th class="p-2">Date</th>
                <th class="p-2">Amount</th>
                <th class="p-2">Payment Mode</th>
                <th class="p-2">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr class="border-t">
                <td class="p-2">{{ sale.date }}</td>
                <td class="p-2">{{ sale.amount }}</td>
                <td class="p-2">{{ sale.payment_mode }}</td>
                <td class="p-2">{{ sale.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
